{% extends "base.html.twig" %}

{% block title %}
    Social Networks
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    {% block main %}
        <h1>Social Networks</h1>
        <a href="{{ path('social_networks_addition') }}">Add Social Network</a>
        {% for socialNetwork in socialNetworks %}
            <div>
                {{ socialNetwork.name }}
            </div>
            <div>
                <a href="{{ path('social_networks_modify', { 'id' : socialNetwork.id} ) }}">Modify</a>
            </div>
            <div>
                <a href="{{ path('social_networks_delete', { 'id' : socialNetwork.id} ) }}">Delete</a>
            </div>
        {% endfor %}
    {% endblock %}

{% endblock %}
