{% extends "base.html.twig" %}

{% block title %}
    Modify Social Network
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>Modify Social Network</h1>
    <form action="{{ path("social_networks_process__update", { 'id' : socialNetwork.id}) }}" method="post">

        {% for fieldName, fieldProperties in formFields %}
            {% if not(fieldProperties["label"] is same as ("")) %}
               <label for="{{ fieldProperties["id"] }}">
                   {{ fieldProperties["label"]|capitalize }}
               </label>
           {% endif %}

            <input
                {% if not(fieldProperties["type"] is same as ("submit")) %}
                    name="{{ fieldName }}"
                {% endif %}
                {% for attribut, attributValue in fieldProperties %}
                    {% if attributValue is iterable %}
                        {% if attributValue|length > 0 %}
                            {% for option, optionValue in attributValue %}
                                {{ option }} = "{{ optionValue }}"
                            {% endfor %}
                        {% endif %}
                    {% else %}
                        {{ attribut }}="{{ attributValue }}"
                    {% endif %}
                {% endfor %}
            >
        {% endfor %}

    </form>
{% endblock %}