{% extends "base.html.twig" %}

{% block title %}Add Comment{% endblock %}

{% block body %}
    {% block main %}
        <h1>Add Comment</h1>
        <form action="{{ path("comments_process__create", {'postId' : postId}) }}" method="post">

        {% for fieldName, fieldProperties in formFields %}

               {% if not(fieldProperties["label"] is same as ("")) %}
                   <label for="{{ fieldProperties["id"] }}">
                       {{ fieldProperties["label"]|capitalize }}
                   </label>
               {% endif %}

                {% if (fieldProperties["type"] is same as ("textarea")) %}
                    <textarea
                        name="{{ fieldName }}"

                        {% for attribut, attributValue in fieldProperties %}
                           {% if attributValue is iterable %}
                               {% if attributValue|length > 0 %}
                                   {% for option, optionValue in attributValue %}
                                       {{ option }} = "{{ optionValue }}"
                                   {% endfor %}
                               {% endif %}
                           {% else %}
                               {{ attribut }}="{{ attributValue }}"
                           {% endif %}
                       {% endfor %}
                    ></textarea>
                {% else %}
                   <input
                       {% if not(fieldProperties["type"] is same as ("submit")) %}
                           name="{{ fieldName }}"
                       {% endif %}
                       {% for attribut, attributValue in fieldProperties %}
                           {% if attributValue is iterable %}
                               {% if attributValue|length > 0 %}
                                   {% for option, optionValue in attributValue %}
                                       {{ option }} = "{{ optionValue }}"
                                   {% endfor %}
                               {% endif %}
                           {% else %}
                               {{ attribut }}="{{ attributValue }}"
                           {% endif %}
                       {% endfor %}
                   >
               {% endif %}
            {% endfor %}
        </form>
    {% endblock %}

{% endblock %}