{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/style/css/comment/commentList.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/style/css/responsive/600px/comment/commentList.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/style/css/responsive/900px/comment/commentList.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/style/css/responsive/1200px/comment/commentList.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/style/css/responsive/1600px/comment/commentList.css') }}">
{% endblock %}

{% block title %}Comments to validate{% endblock %}

{% block pageTitle %}
    Comments to validate
{% endblock %}
{% block main %}
    <div class="comments">
        {% set postIdIterator = 0 %}

        {% for comment in comments %}
            {% include 'comment/commentToValidate.html.twig' with {'comment': comment, 'postId' : postIds[postIdIterator].toString()} only %}
            {% set postIdIterator = postIdIterator + 1 %}
        {% endfor %}
    </div>
{% endblock %}