{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/style/css/welcome/index.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/style/css/400px/welcome/index.css') }}">
{% endblock %}


{% block main %}
{#    {% block pageTitle %}#}
{#        <h1 class="title">Welcome</h1>#}
{#    {% endblock %}#}
    <section class="main-content">
        <div class="main-content__people">
            <img class="main-content__photo" src="{{ asset('assets/images/photoCv.png') }}" alt="photo owner's blog">
            <img class="main-content__logo" src="{{ asset('assets/images/logo.svg') }}" alt="site's icon">
        </div>
        <p class="main-content__one-line catch-phrase">Découvrons ensemble de nouvelles technologies !</p>
    </section>
{% endblock %}
