{% extends "base.html.twig" %}

{% block title %}
    Roles
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    {% block main %}
        <h1>Roles</h1>
        <a href="/role/add">Add Role</a>
        {% for role in roles %}
            <div>
                {{ role.name }}
            </div>
            <div>
                <a href="/role/modify/{{ role.id }}">Modify</a>
            </div>
            <div>
                <a href="/role/delete/{{ role.id }}">Delete</a>
            </div>
        {% endfor %}
    {% endblock %}

{% endblock %}
