{% extends "base.html.twig" %}

{% block title %}
    Modify Role
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>Modify Role</h1>
    <form action="{{ path('roles_process__update', { 'id' : role.id }) }}" method="post">
{#        <label for="name">Name</label>#}
{#        <input type="text" name="name" id="name" value="{{ role.name }}"/>#}
{#        <input type="submit" name="submit" value="Submit" />#}
        {% for fieldName, fieldProperties in formFields %}
            {% if not(fieldProperties["type"] is same as ("submit")) %}
                <label for="{{ fieldProperties["id"] }}">
                    {{ fieldName|capitalize }}
                </label>
            {% endif %}

            <input
                {% if not(fieldProperties["type"] is same as ("submit")) %}
                    name="{{ fieldName }}"
                {% endif %}
                {% for attribut, attributValue in fieldProperties %}
                    {% if attributValue is iterable %}
                        {% if attributValue|length > 0 %}
                            {% for option, optionValue in attributValue %}
                                {{ option }} = "{{ optionValue }}"
                            {% endfor %}
                        {% endif %}
                    {% else %}
                        {{ attribut }}="{{ attributValue }}"
                    {% endif %}
                {% endfor %}
            >
        {% endfor %}

    </form>
{% endblock %}