<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Welcome
        {% endblock %}
    </title>
    {% block stylesheets %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Carrois+Gothic&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('assets/style/css/navbar.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/style/css/footer.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/style/css/base.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/style/flashMessages.css') }}">
    {% endblock %}
    {% block favicon %}
        <link rel="icon" type="image/png" href="{{ asset('assets/images/logo.png') }}"
    {% endblock %}
</head>
<body class="advent-pro-400">

{% block body %}
    {% block navbar %}
        {% include("navbar.html.twig") only %}
    {% endblock %}

    {% block main %}
        {% block pageTitle %}
            <h1 class="title"> Welcome</h1>
        {% endblock %}
    {% endblock %}

    {% block footer %}
        {% include("footer.html.twig") only %}
    {% endblock %}

    {% block scripts %}
        <script type="text/javascript" src="{{asset('assets/javascript/flashMessages.js') }}"></script>
    {% endblock %}
{% endblock %}


</body>
</html>
