<label class="hamburger-menu">
    <input type="checkbox">
</label>
<aside class="sidebar">

    <nav class="navbar">

        <div class="nav-links">
            <ul class="nav-menus">
                <li>
                    <a href="{{ path('welcome') }}">
                        Welcome
                    </a>
                </li>
                <li>
                    <a href="{{ path('posts') }}">
                        All post
                    </a>
                </li>
                {% if is_granted('Member') %}
                    <li>
                        <a href="{{ path('posts__byUser') }}">
                            My Posts
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('posts__addition') }}">
                            Add Post
                        </a>
                    </li>
                    <li>
                        <a href="{{ path("comments__byUser") }}">
                            My Comments
                        </a>
                    </li>
                    <li>
                        <a href="{{ path("profile") }}">
                            My profile
                        </a>
                    </li>
                {% endif %}
                {% if is_granted('Moderator') %}
                    <li>
                        <a href="{{ path("comments__toValidate") }}">
                            Comments to validate
                        </a>
                    </li>
                {% endif %}
                {% if is_granted('Member') %}
                    <li>
                        <a href="{{ path("logout") }}">
                            Disconnection
                        </a>
                    </li>
                {% endif %}
                {% if (is_granted('Disconnected user')) and (not(is_granted('Member')))%}
                    <li>
                        <a href="{{ path('login') }}">Sign in</a>
                    </li>
                    <li>
                        <a href="{{ path('register') }}">Sign up</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</aside>