<nav class="navbar">
    <a href="/">
        Welcome
    </a>
    <a href="{{ path('posts') }}">
        All post
    </a>
    {% if is_granted('Member') %}
        <a href="{{ path('posts__byUser') }}">
            My Posts
        </a>
        <a href="{{ path('posts__addition') }}">
            Add Post
        </a>
        <a href="{{ path("comments__byUser") }}">
            My Comments
        </a>
        <a href="{{ path("profile") }}">
            My profile
        </a>
    {% endif %}
    {% if is_granted('Moderator') %}
        <a href="{{ path("posts__toValidate") }}">
            Posts to validate
        </a>
        <a href="#">
            Comments to validate
        </a>
    {% endif %}
    {% if is_granted('Administrator') %}
        <a href="/user">
            Manage Users
        </a>
        <a href="/social/network">
            Social Networks
        </a>
        <a href="/role">
            Roles
        </a>
    {% endif %}
    {% if is_granted('Member') %}
        <a href="{{ path("logout") }}">
            Disconnection
        </a>
    {% endif %}
    {% if (is_granted('Disconnected user')) and (not(is_granted('Member')))%}
        <a href="{{ path('login') }}">Sign in</a>
        <a href="{{ path('register') }}">Sign up</a>
    {% endif %}
</nav>