{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}
    {% block main %}
        <h1>{{ post.title }}</h1>
        <div>
            <div>
                {{ post.chapo }}
            </div>
            <div>
                {{ post.dateOfLastUpdate }}
            </div>
            <div>
                {{ author.username }}
            </div>
            <div>
                {{ post.content }}
            </div>
        </div>
        <div>
            {% for comment in comments %}
                <div>
                    {{ comment.content }}
                </div>
            {% endfor %}
        </div>
        <div>
            <a href="{{ path('comments__addition', {'postId' : post.id}) }}">Add Comment</a>
        </div>
        <div>
            <a href="{{ path('posts__modify', {'postId' : post.id}) }}">Modify this post</a>
        </div>
        <div>
            <a href="{{ path('posts__delete', {'postId' : post.id}) }}">Delete this post</a>
        </div>
    {% endblock %}

{% endblock %}