{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/style/css/post/index.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/style/css/responsive/600px/post/index.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/style/css/responsive/900px/post/index.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/style/css/responsive/1200px/post/index.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/style/css/responsive/1600px/post/index.css') }}">
{% endblock %}

{% block title %}All Posts{% endblock %}

{% block pageTitle %}
    All Posts
{% endblock %}
{% block main %}

    <div class="posts">
        {% for post in posts %}
            {% include 'post/post.html.twig' with {'post': post} only %}
        {% endfor %}
    </div>
{% endblock %}