<div>
    <div>
        fghghgeh

        {{ post.title }}
    </div>
    <div>
        {{ post.dateOfLastUpdate }}
    </div>
    <div>
        {{ post.chapo }}
    </div>
    <div>
        {{ post.id }}
    </div>
    <div>
        <a href="{{ path('posts_details', {'postId' : post.id}) }}">Detail about post</a>
    </div>
</div>