<div class="posts__post">
    <div class="posts__post__element">
        {{ post.title }}
    </div>
    <div class="posts__post__element">
        {{ post.dateOfLastUpdate|date("d/m/Y H:i:s") }}
    </div>
    <div class="posts__post__element">
        {{ post.chapo }}
    </div>
    <a class="posts__post__element" href="{{ path('posts__details', {'postId' : post.id.toString()}) }}">Detail about post</a>
    {% if is_granted('Member') %}
        <div>
            <a href="{{ path('posts__modify', {'postId' : post.id.toString()}) }}">Modify This Post</a>
        </div>
        <div>
            <a href="{{ path('posts__delete', {'postId' : post.id}) }}">Delete this post</a>
        </div>
    {% endif %}
</div>