<div>
    <div>
        {{ post.title }}
    </div>
    <div>
        {{ post.dateOfLastUpdate|date("d/m/Y H:i:s") }}
    </div>
    <div>
        {{ post.chapo }}
    </div>
    <div>
        <a href="{{ path('posts__details', {'postId' : post.id.toString()}) }}">Detail about post</a>
    </div>
    <div>
        <a href="{{ path('posts__modify', {'postId' : post.id.toString()}) }}">Modify This Post</a>
    </div>
    <div>
        <a href="{{ path('posts__delete', {'postId' : post.id}) }}">Delete this post</a>
    </div>
</div>