{% extends "mail/mailBase.html.twig" %}

{% block title %}{{ subject }}{% endblock %}

{% block pageTitle %}
    Blog : {{ subject }}
{% endblock %}

{% block content %}
    {{ content }}
{% endblock %}

{% block footer %}
    <div>
        {{ userMail }}
    </div>
    <div>
        {{ firstname }} {{ lastname }}
    </div>
    <div>
        {{ username }}
    </div>
{% endblock %}