{% extends "base.html.twig" %}

{% block title %}
    Modify User
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>Modify {{ user.username }}</h1>
    <form action="/user/process/{{ user.id }}" method="post">
        <label for="firstName">First Name</label>
        <input type="text" name="firstName" value="{{ user.firstName }}" id="firstName" />

        <label for="lastName">Last Name</label>
        <input type="text" name="lastName" value="{{ user.lastName }}" id="lastName" />

        <label for="emailAdress">Email Adress</label>
        <input type="email" name="emailAdress" value="{{ user.emailAdress }}" id="emailAdress" />

        <label for="username">Username</label>
        <input type="text" name="username" value="{{ user.username }}" id="username" />

        <label for="password">Password</label>
        <input type="password" name="password" value="{{ user.password }}" id="password" />

        {% set roleIterator = 0 %}
        {% for role in roles %}
            <label for="role-{{ roleIterator }}">{{ role.name }}</label>
            {% if user.role.id is same as role.id %}
                <input type="radio" name="role" id="role-{{ roleIterator }}" value="{{ role.id }}" checked="checked">
            {% else %}
                <input type="radio" name="role" id="role-{{ roleIterator }}" value="{{ role.id }}">
            {% endif %}
            {% set roleIterator = roleIterator + 1 %}
        {% endfor %}

        <input type="submit" name="submit" value="Submit" />
    </form>
{% endblock %}