{% extends "base.html.twig" %}

{% block title %}
    My Profile
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block pageTitle %}
    My profile
{% endblock %}
{% block main %}
    <div class="row gx-5">
        <div class="col-lg-3">
            <div class="d-flex align-items-center mt-lg-5 mb-4">
                <div class="ms-3">
                    <div class="fw-bold">
                        <a class="btn btn-warning" href="{{ path( 'profile__modify') }}">Modify My Profile</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <article>
                <header class="mb-4">
                    <label>
                        Lastname
                    </label>
                    <p class="fs-5 mb-4">
                        {{ user.lastName }}
                    </p>
                    <label>
                        Firstname
                    </label>
                    <p class="fs-5 mb-4">
                        {{ user.firstName }}
                    </p>
                    <label>
                        Username
                    </label>
                    <p class="fs-5 mb-4">
                        {{ user.username }}
                    </p>
                    <label>
                        Email Address
                    </label>
                    <p class="fs-5 mb-4">
                        {{ user.emailAddress }}
                    </p>
                </header>
            </article>
        </div>
    </div>







    {#    <div> #}
    {#        <a href="{{ path("users__addition") }}">Add User</a> #}
    {#    </div> #}
    {#        <div class="profile__button"> #}
    {#            <a class="btn btn-warning" href="{{ path( 'profile__modify') }}">Modify My Profile</a> #}
    {#        </div> #}
    {#    #}{#    <div> #}
    {#    #}{#            <a href="{{ path( 'users_delete', {'id' :user.id}) }}">Delete</a> #}
    {#    #}{#    </div> #}
    {#    </div> #}
{% endblock %}